@import "bootstrap.min.css";
@import "global_vars.css";
@import "fontawesome.min.css";
@import "solid.min.css";
@import "brands.min.css";

/* Import student CSS files here */
@import "../../student1/css/student1.css";
@import "../../student2/css/student2.css";
@import "../../student3/css/student3.css";
@import "../../student4/css/student4.css";

/* General Styling */
body {
    overflow-x: hidden;
}

/* Header */
.home header {
    position: relative;

    &:after {
        content: "";
        position: absolute;
        top: -300px;
        right: -300px;
        width: 600px;
        height: 600px;
        background: radial-gradient(circle, #FFD700 0%, #fccf7c 30%, transparent 70%);
        border-radius: 50%;
        z-index: 0;
        pointer-events: none;
        opacity: 0.4;

        @media (min-width: 768px) {
            top: -500px;
            right: -500px;
            width: 1000px;
            height: 1000px;
        }
    }

    @media (min-width: 992px) { 
        &:before {
            content: "";
            position: absolute;
            top: -500px;
            left: -500px;
            width: 1000px;
            height: 1000px;
            background: radial-gradient(circle, #FFD700 0%, #fccf7c 30%, transparent 70%);
            border-radius: 50%;
            z-index: 0;
            pointer-events: none;
            opacity: 0.4;
        }
    }
}

.nav-link.active {
    font-weight: 700;
}

.navbar-brand, .nav-item, .navbar-toggler {
    z-index: 1;
}

#hero {
    h1, p {
        position: relative;
        z-index: 1;
    }
}

/* Buttons */
.btn {
    padding: 0.8rem 1.6rem;
}

.btn-primary {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);

    &:hover {
        background-color: var(--bs-primary-hover);
        border-color: var(--bs-primary-hover);    
    }

    &:focus {
        background-color: var(--bs-primary-hover);
        border-color: var(--bs-primary-hover);
    }

    &:active {
        background-color: var(--bs-primary-active) !important;
        border-color: var(--bs-primary-active) !important;
    }
}

.btn-outline-primary {
    border-color: var(--bs-primary);
    color: var(--bs-primary);

    &:hover {
        background-color: var(--bs-primary);
        border-color: var(--bs-primary);    
    }

    &:focus {
        background-color: var(--bs-primary-hover);
        border-color: var(--bs-primary-hover);
    }

    &:active {
        background-color: var(--bs-primary-active) !important;
        border-color: var(--bs-primary-active) !important;
    }
}

/* Text */
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

h3 {
    font-size: 1.3rem;
}

p, a, span {
    font-size: 0.875rem;
}

.small {
    font-size: 0.750rem;
}

/* Utilty */
.rotate-up { transform: rotate(-45deg); }
.rotate-down { transform: rotate(45deg); }
