/*  Name: Davy Le Bruyn
    Class: 1 ITF WT
    R-number: r1034516  */

.body-student1 {
    .block,
    .row:not(.anim-0) > div[class*="col-"],
    .row:not(.anim-0) > div[class*="col-lg"],
    .row:not(.anim-0) > div[class*="col-md"] {
        opacity: 0;
        transform: translate(0, 1rem);
        transition: opacity 0.3s cubic-bezier(.25,1,.5,1), transform 0.3s cubic-bezier(.25,1,.5,1);
    }
    
    .block.active,
    .row:not(.anim-0) > div[class*="col-"].active,
    .row:not(.anim-0) > div[class*="col-lg-"].active,
    .row:not(.anim-0) > div[class*="col-md-"].active {
        opacity: 1;
        transform: translate(0, 0) scale(1);
    }
}

.portfolio {
    .portfolio__button {
        font-weight: 500;
        text-transform: uppercase;
        border: 1px solid var(--bs-gray);
        border-radius: 10px;
        padding: 0.2em 0.6rem;
        transition: ease 0.3s;
        background-color: white;
        font-size: 0.875rem;

        &:hover,
        &.active {
            cursor: pointer;
            color: white;
            border-color: var(--bs-primary);
            background-color: var(--bs-primary);
        }
    }

    .portfolio__categories {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 0.2rem 0;
        margin-top: 0.5rem;
        list-style: none;
    }

    .portfolio__item {
        width: 100%;
        max-width: 100%;
        flex-grow: 1;
        opacity: 1;
        transform-origin: center center;
        pointer-events: all;
        margin: 0 0 1rem 0;

        @media (min-width: 576px) {
            max-width: calc(50% - 20px);
        }

        @media (min-width: 992px) {
            max-width: calc(33.3333% - 20px);
        }

        figure {
            height: 100%;
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    a {
        figure {
            overflow: hidden;
            margin-bottom: 0;
    
            img {
                transition: transform .3s cubic-bezier(.85, 0, .15, 1);
            }
        }
    
        &:hover {
            figure img {
                transform: scale(1.1);
            }
        }
    }

}

@media (min-width: 576px) {
    .vbox-container img {
        width: 50vw;
        height: 100%;
    }
}